<section class="container-searh">
  <form [formGroup]="formSearh" (ngSubmit)="getJourney(formSearh.value)">
    <div class="divider d-flex align-items-center my-4">
      <p class="text-center fw-bold mx-3 mb-0 fs-5">Search flights</p>
    </div>

    <div class="container-searh-inputs-container">
      <div class="form-outline input">
        <label class="input-lavel" for="form3Example3">Origin</label>
        <input
          class="input-text"
          type="text"
          formControlName="origin"
          maxlength="3"
          oninput="this.value = this.value.toUpperCase()"
        />
      </div>
      <div class="form-outline input">
        <label class="input-lavel" for="form3Example3">Destination</label>

        <input
          class="input-text"
          type="text"
          formControlName="destination"
          maxlength="3"
          oninput="this.value = this.value.toUpperCase()"
        />
      </div>
    </div>
    <div class="container-input-botton">
      <button
        (click)="getJourney(formSearh.value)"
        [disabled]="formSearh.invalid"
        type="button"
        class="button-search-input"
        style="padding-left: 2.5rem; padding-right: 2.5rem"
      >
        Search for flights
      </button>
    </div>
  </form>
</section>

<ng-container *ngIf="journeys.length; else noflightsfound">
  <app-flights [journeys]="journeys"></app-flights>
</ng-container>
<ng-template #noflightsfound
  ><h1 class="no-flights-found">No flights found</h1>
</ng-template>
